# Core Data Manipulation & Math
numpy
pandas
scipy
statsmodels

# Data Visualization & EDA
matplotlib
seaborn
plotly
ydata-profiling

# Machine Learning & Modeling
scikit-learn
xgboost
lightgbm
joblib

# Notebook & Interactive Widgets
ipykernel
jupyterlab
ipywidgets
nbformat

# Utilities & File I/O
setuptools<80
openpyxl
tqdm
requests

